body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background: #000000;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #000000
}

tr.positive {
    background-color: #006b00; /* Green for rising rates */
}

tr.negative {
    background-color: #ff3f00; /* Red for falling rates */
}

.error {
    color: red;
    text-align: center;
    font-size: 1.2rem;
}
