<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- File target -->
    <target name="logfile" xsi:type="File" fileName="logs/logfile.log" layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=toString}" />
    <!-- Console target -->
    <target name="logconsole" xsi:type="Console" layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=toString}" />
  </targets>
  <rules>
    <!-- Log all to file -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <!-- Log all to console -->
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>
